       #Topbar {
            font-family: "Arial Black";
            background-color: 	#f0feff;
            background-image: url(Resources/simpHead.png);
            border: 2px solid #a8a8a8 ;
        	border-radius: 12px;
        	background-repeat:no-repeat;
        	background-position:center;
        }
        #title{
            font-size: 50;
            text-align : center;
            color: 	#001c38;
        }
        
        #sub{
            text-align : center;
            color: 	#001c38;
        }

       #tab{
             color: #8e8e8e;
       }
       
       
       a{
       		color: #474747;
       		//background-color: #d8d8d8;
       		//background-color: rgba(234, 234, 234, 0.5);
       		padding-left: 18%;
       }
	   
	   #Time{
		   padding-left: 15px;
	   }
       
       #BottomBar{
       		
          position: fixed;
          	left:0px;
  			bottom: 0;
  			width: 100%;
       		font-family: "Arial Black";
            background-color: 	#f0feff;
            background-image: url(Resources/simpHead.png);
            border-top: 5px solid #f0feff ;
		background-repeat:no-repeat;
        	background-position:center;
            
       }
       
       #BottomBar input[type=text]{
       		margin-left:42%;
       	}
       	
       	table{
       		width:80%;
       		margin-left:10%;
       	}
       	
       	#classes{
       		width:50%;
       	}
       	
       	table, th, td {
  			border: 1px solid black;
		}

       
       h2{
       		text-align : center;
       }
       
       html{
      	 background-image: linear-gradient(to bottom right, #400cbc, #06004d);
       }
       
	   img {
	   	margin-top:2px;
  		max-width: 100%;
  		height: auto;
    		padding-bottom: 140px;
}
