              #Topbar {
            font-family: "Arial Black";
            background-color: 	#cbf8fb;
            background-image: url(Resources/simpHead.png);
            border: 2px solid #a8a8a8 ;
        	border-radius: 12px;
        }
        #title{
            font-size: 50;
            text-align : center;
            color: 	#001c38;
        }
        
        #sub{
            text-align : center;
            color: 	#001c38;
        }

       #tab{
             color: #8e8e8e;
       }
       
       a{
       		color: #474747;
       		//background-color: #d8d8d8;
       		//background-color: rgba(234, 234, 234, 0.5);
       		padding-left: 1%;
       		buffing-left:33%;
       }
       
	   img {
	   	margin-top: 1%;
  max-width: 100%;
  height: auto;
  border: 2px solid #a8a8a8 ;
        	border-radius: 12px;
}

html{
	background-image: linear-gradient(to bottom right, #03127a, #9c9ab2);
}
